:root {
    /* Main Colors */
    --neutral: #ffffff;
    --neutral-300: #d2d1d6;
    --neutral-500: #8784a4;
    --neutral-700: #4b486a;
    --neutral-900: #0c082b;
    --orange-500: #f57261;
    --orange-700: #e16151;
    
    /* Text Colors */
    --gradient: linear-gradient(90deg, rgba(243,115,98,1) 28%, rgba(255,255,255,1) 100%);
}